.jumbotron{
    margin-top: 40px;
    border-radius: 0%;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-mod{
    border-radius: 0%;
    margin: 0 0 1% 1%;
    width: 98%;
}
.footer-address-icon{
    padding-right: 8px;
}


p{
    color: #0000007c;
}
footer{
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.bg-verde{
    background-color: #55f055;
    color: white;
}